<div class="w-full rounded p-5 flex flex-col border border-gray-400 cursor-pointer">
    <p class=" font-semibold cursor-pointer">UX Adjustments</p>
    <p class="mt-2 text-[.9rem] font-normal text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos illum doloremque quia voluptates accusamus aliquam suscipit ut obcaecati incidunt eaque.</p>
    <div class="mt-2 flex w-full justify-between items-center">
        <div class=" space-x-2">
            <span class="bg-red-600 text-white rounded-full px-5 py-1 text-[.9rem] cursor-pointer">highi</span>
            <span><i class="bi bi-trash"></i></span>
        </div>
        <span class="text-[.9rem] cursor-pointer">12-7-2024</span>
    </div>
</div>
